///Text Colors
/// 
$text-color1:hsl(0, 0, 100%);
$text-color2:hsl(60, 10%, 19%);
$text-color3:hsl(52, 100%, 62%);



// Main Backgrounds color

$main-bg1:hsl(222, 26%, 31%);
$main-bg2:hsl(0, 0%, 90%);
$main-bg3:hsl(268, 75%, 9%);

/// Keypad Backgrounds color

$keypad-bg1:hsl(223, 31%, 20%);
$keypad-bg2:hsl(0, 5%, 81%);
$keypad-bg3:hsl(268, 71%, 12%);

/// Answer Backgrounds color

$answer-bg1:hsl(224, 36%, 15%);
$answer-bg2:hsl(0, 0%, 93%);
$answer-bg3:hsl(268, 71%, 12%);

/// Keys Background Color
/// 

$keys-bg1:hsl(30, 25%, 89%);
$keys-bg2:hsl(45, 7%, 89%);
$keys-bg3:hsl(268, 47%, 21%);

/// keys Shadow color
/// 
$key-shadow1:hsl(28, 16%, 65%);
$key-shadow1:hsl(35, 11%, 61%);
$key-shadow1:hsl(290, 70%, 36%);

/// Delete key and reset keys
/// 
$delete-key-bg1:hsl(225, 21%, 49%);
$delete-key-bg1:hsl(185, 42%, 37%);
$delete-key-bg1:hsl(281, 89%, 26%);

$delete-key-shadow1:hsl(224, 28%, 35%);
$delete-key-shadow1:hsl(185, 58%, 25%);
$delete-key-shadow1:hsl(285, 91%, 52%);

/// equal key

$equal-key-bg1:hsl(6, 63%, 50%);
$equal-key-bg1:hsl(25, 98%, 40%);
$equal-key-bg1:hsl(176, 100%, 44%);

$equal-key-shadow1:hsl(6, 70%, 34%);
$equal-key-shadow1:hsl(25, 99%, 27%);
$equal-key-shadow1:hsl(177, 92%, 70%);